body{
	background-color: grey;
}

header.masthead{
	background-image: url("../img/accept-concert.jpg");
}

h1 {
	font-family: 'New Rocker', cursive;
	font-size: 240px;
	text-shadow: 0px 0px 6px black;
	color: grey;
}
header h2 {
	font-family: 'New Rocker', cursive;
	font-size: 60px;
	text-shadow: 2px 2px 8px black;
}
h2 {
	font-family: 'New Rocker', cursive;
	font-size: 60px;
	text-shadow: 2px 2px 8px white;
}
.mybutton{
	
	width: 350px;
	height: 100px;
	background-color: grey;
	box-shadow: 2px 2px 18px black;
	color: grey;
	text-align: center;
	font-size: 2em;
	text-shadow: 0px 0px 6px white;
}

.rounded-circle {
  border-radius: 33% !important;
  box-shadow: 1px 2px 24px black;
}

iframe {

margin: 0 auto;
height: 250px;
box-shadow: 0px 0px 20px black;

}

footer a .fab{
	
	color: grey;
	background-color: white;
	font-size: 2.5em;
	padding: .1em;
	border-radius: 33%;
}
footer a .fab:hover{	
	color: black;
}

nav a .fas{
	
	color: grey;
	text-shadow: 1px 1px 4px white;
	font-size: 2em;
	
}

nav a .fas:hover{
	color: black;
}

hr {
  box-sizing: content-box;
  height: 4px;
  overflow: visible;
  noshade;
  box-shadow: 0px 0px 12px black;
}